  .info {
    margin: 0 auto;
    text-align: center;
    &__category{
      color: #00ADEE;
      font-size: 16px;
      font-weight: 600;
    }
    &__header {
      font-size: 28px;
      color: #333333;
    }
    &__copy {
      font-size: 16px;
      color: #4F4F4F;
      line-height: 1.3em;
      width: 90%;
      margin: 0 auto;
      margin-bottom: 20px;
    }
    &__link {
      text-decoration: none;
      color: #00ADEE;
      font-size: 16px;
      font-weight: bold;
    }
  }

@media screen and (min-width: 1000px)  {
  .info {
    margin: 3em;
    text-align: left;
    width: 50%;
    align-items: center;
    &__copy {
      margin: 2em 0;
      width: 100%;

    }  
  }
}

