  .main{
    margin-bottom: 50px;
    &__header{
      margin: 0 auto;
      text-align: center;
      justify-content: center;
      padding: 20px;
      margin-bottom: 5em;
      display: block;
    }
    &__head {
      font-size: 30px;
      color: #333333;
      text-align: center;
      width: 80%;
      margin: 0 auto;
      font-weight: bold;
      margin-bottom: 1em;
    }
    &__copy {
      color: #4F4F4F;
      font-size: 16px;
      margin: 0 auto;
      width: 78%;
      text-align: center;
      margin-bottom: 30px;
    }
    &__buttons {
      display: flex;
      justify-content: center;
    }
  }

@media screen and (max-width: 1000px)  {
  .main__image {
    display: none;
  }
}

@media screen and (min-width: 1000px)  {
  .main{
    text-align: left;
    margin-left: 5em;
    grid-area: left;
    &__head{
      text-align: left;
      margin: 1em 0px;
      width: 100%;
    }
    &__copy {
      text-align: left;
      margin: 0px;
    }
    &__buttons {
      display: flex;
      justify-content: start;
    }
    &__header {
      text-align: left;
      margin-left: 5em;
      padding: 20px 0px;
      grid-area: sport;
    }
    &__image{
      height: 560px;
      z-index: -1;
      grid-area: picture;
    }
    &__heading {
      display: grid;  
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas: "sport picture"
                  "left picture"
                  "left picture";
      width: 100%;
    }
  }
}